html {
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; }

body {
  background-color: #DFE3E8;
  padding-left: 2.5%;
  padding-right: 2.5%; }

h1, h2, p {
  font-family: -apple-system, BlinkMacSystemFont, San Francisco, Roboto, Segoe UI, Helvetica Neue, sans-serif;
  font-size: 48px; }

h1 {
  color: #5C6AC4; }

h2 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase; }

p {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400; }

.splash-container {
  transform: skew(0deg, -10deg);
  background: #F9FAFB;
  margin-top: -200px; }
  .splash-container .unskew-text {
    transform: skew(0deg, 10deg);
    padding-left: 2.5%;
    padding-right: 2.5%; }

.margin-fix {
  margin-top: 30vh;
  text-align: center;
  margin-bottom: 100px; }

.margin-fix::after {
  content: "Choose your own adventure:";
  font-size: 16px;
  display: block; }

.item-container {
  margin-left: 18px; }

.item:nth-of-type(1n) {
  background: #E0F5F5; }

.item:nth-of-type(2n) {
  background: #EBF5FA; }

.item {
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  text-align: center;
  margin-bottom: 100px;
  border-radius: 20px;
  opacity: 0.8;
  transition: box-shadow 0.5s, transform 0.5s, opacity 0.5s; }

.item:hover {
  -webkit-box-shadow: 10px 10px 2px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 10px 2px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 10px 2px 0px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
  opacity: 1; }
